{{> head }}
   {{> navbar }}

    <div class="row">

        <div class="col-8">
            <h1>Mega Car</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio eos ullam exercitationem sapiente impedit quod nobis consectetur ea autem, voluptates eum hic. Aliquam, tempora explicabo asperiores reprehenderit enim magnam. Laboriosam.
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/descarga.png" class="img-thumbnail">
        </div>

    </div>


{{> footer }}

